{% load static %}

<head>
    <!-- Otros metadatos y enlaces de estilo -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>
  

<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h4>Contact us</h4>
          <ul class="contact-info">
            <li><i class="fas fa-envelope"></i> Email: wilmarleofa@hotmail.com</li>
            <li><i class="fas fa-phone"></i> Contact Number: +57 3124488271</li>
          </ul>
        </div>
      </div>
    </div>
  </footer>